*{
    font-weight: 800;
    font-size: 22px;
}
.card {
    margin: auto;
}
.pageContainer {
    display:flex;
    flex-direction:column;
  justify-content:center;
   align-items:center;
    width: 80%;
    
    margin: 0 auto ;
  }
  .pluscontainer {
    width: 30px;
    height:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: auto;
  }
  .mincontainer {
    width: 30px;
    height:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: auto;

  }
 #pPlus {
     margin: auto;
 }